@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration:none;
}

.nav{
    display: flex;
    justify-content: space-between;
     align-items: center;
    height: 90px;
    max-width: 1440px;
    margin:  0 auto;
    padding-left: 35px;
    padding-right: 35px;
}

.nav .btn{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    padding: 17px 24px 17px 24px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}
.nav .btn:hover{
    background-color: red;
    color: white;
}

ul li {
    list-style: none;

}

ul li a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
/* hero section  */

.background-img-container{

    max-width:1510px;
    height: 652px;
    margin:  0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image:url(./assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-container{

    width: 998px;
    height: 582px;
    margin: 0 auto;
    text-align: center;

}
.content-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    
}
.content-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin-top: 20px;
}

.content-container .btn{
    padding: 15px 18px 15px 18px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    margin-top: 50px;

}
.content-container .btn:hover{
    background-color: green;
}


/* About web development section  */

.main-container{
    width: 1140px;
    height: 1373px;
    margin:  0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 50px;


    display: grid;
    place-items: center;
    margin-bottom: 50px;
}

.second-main-container{
    width: 946px;
    height: 1190px;
}

.content-box h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;

}
.content-box p{ 
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
}

.second-content-box{
    width: 946px;
    height: 300px;
    margin-top: 30px;

    display: flex;  
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

}
.second-content-box .content{
    width: 45%;
    height: 82%;
    margin: 25px auto;


}
.content-two{
    display: flex;
    justify-content: flex-end;
}
.second-content-box .content h1{

    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    
}
.second-content-box .content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 16px;

}
.second-content-box .content .span{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    padding: 12px 20px 12px 20px;
    margin-top: 40px;
    width: 42%;
    cursor: pointer;
}
.second-content-box .content .span:hover{
    background-color: green;
    color: white;
}
.second-content-box .box-two-image{
    width: 350px;
    display: flex;
    justify-content: start;
}
 .second-content-box .box-two-content{
    width: 580px;
}
 .second-content-box .box-two-content .span{
   width: 180px;

}


/* My Inspiration Section  */


.container-div{
    width: 1140px;
    height: 650px;
    margin: 0 auto;
    margin-bottom: 80px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}

.titels{
    text-align: center;
    width: 70%;
    margin:  0 auto;
}
.titels h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.titels p{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 30px;

}

.video{
    width: 100%;
    height: 500px;
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.video iframe{
    height: 90%;
    width: 95%;
    border-radius: 16px;
}

/* My Current Target Section  */

.current-target-box{

    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-bottom: 70px;



}
.boxs{


    width: 100%;
    height: 350px;
    margin-top: 25px;

    display: flex;
    justify-content: space-between;
    gap: 15px;

    border-radius: 16px;

}

.boxs .box{
    width: 33%;
    height: 318px;
    padding: 30px 0 0 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.boxs .box h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 15px;
}
.boxs .box .p1{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.boxs .box .p2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    cursor: pointer;
}

.boxs .box .p2:hover{
    color: red;

}
.box1 .p2{
    margin-top: 40px;
}
.box2 .p2{
    margin-top: 40px;

}
.box3 .p2{
    margin-top: 14px;


}


/* My Next Target section  */

.next-container{
    width: 1140px;
    height: 876px;
    margin:  0 auto;

}

.titel-content{

    
}
.titel-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;


}
.titel-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center; 
    opacity: 0.7;

}

.react-box{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

    width: 1140px;
    height: 219px;
    margin-top: 40px;
    display: flex;

}

.react-box .img-box{
    padding-top: 60px;
    padding-left: 30px;

}
.react-box .contents-box{
    padding-top: 38px;
    padding-left: 20px;

}
.react-box .contents-box h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    
}
.react-box .contents-box .p1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-top: 15px;


}
.react-box .contents-box .p2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 15px;
    cursor: pointer;

}

.react-box .contents-box .p2:hover{
    color:red;
}

/* second last section  */

.second-last{

    width: 1140px;
    height: 313px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;


    background-image: url(./assets/handshake.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;


    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
}
   
.second-last .content{

    width: 1044px;
    height: 185px;
    text-align: center;
}
.second-last .content h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    
}
.second-last .content p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 15px;


}
.second-last .content input{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    background: rgb(255, 255, 255);
    width: 548px;
    height: 57px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.second-last .content button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    padding: 15px 20px 15px 20px;
    background: rgb(255, 255, 255);
    margin-top: 31px;
    margin-left: 10px;
    cursor: pointer;
}

.second-last .content button:hover{
    background-color: green;
    color: white;
}

/* footer  */
.footer{
    max-width: 1500px;
    height: 100px;
    margin: 0 auto;

    border-radius: 16px;

    background: rgba(13, 19, 33, 0.05);

    margin-top: 60px;
    display: flex;
    align-items: center;
    padding:  0 190px;
    justify-content: space-between;
}
.footer h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.footer-icons{
    display: flex;
    gap: 12px;
    cursor: pointer;
}
.footer-icons .one:hover{

    transform:scale(1.2)translateY(-2px) ;

}
.footer-icons .two:hover{
    transform:scale(1.2)translateY(-2px) ;
}
.footer-icons .three:hover{
transform:scale(1.2)translateY(-2px) ;
}
